* {
    margin: 0;

    font-family: Arial;

    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    min-height: 100vh;
}

#header {
    padding: 1rem;

    color: white;
    background-color: rgb(32, 32, 32);
}

#body {
    flex: 1;

    display: flex;
    flex-direction: row;
}

#sidebar {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    padding: 0.5rem;

    color: white;
    background-color: rgb(37, 37, 37);
}
#content {
    flex: 1;

    padding: 1rem;
}


#footer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 1rem;

    color: white;
    background-color: rgb(32, 32, 32);
}


.sidebar-menu {
    list-style: none;
}

.simple-button {
    background-color: rgb(51, 51, 51);
    color: white;

    padding: 1rem;

    transition: background-color 0.25s;
}
.simple-button:hover {
    background-color: dodgerblue;
}


.simple-button-basic {
    color: white;

    padding: 1rem;

    transition: background-color 0.25s;
}
.simple-button-basic:hover {
    color: dodgerblue;
}